footer.footer
  .container
    .footer__firs
    .footer__row.footer__row--align-bottom
      .footer__column.footer__column--large
        form.footer__form(action="?")
          .footer__title.title.title--h2 Будьте в&nbsp;курсе
          p.footer__text Рассказываем только о&nbsp;важном. Анонсируем мероприятия, встречи и акции. Без спама.<br /> Не&nbsp;чаще чем 2&nbsp;раза  в&nbsp;неделю.
          .footer__form-group
            input.footer__form-input(type="text", placeholder="E-mail")
            span.footer__form-aside
              button.footer__form-button
                span.icon.icon--arrow-right
      .footer__column.footer__column--small
        .footer__fir
          span.icon.icon--fir
        .footer__social
          ul.footer__social-list
            li.footer__social-item
              a.social-button.social-button--facebook(href="#", title="Facebook")
                span.social-button__icon
                  span.icon.icon--facebook
                span.social-button__text.visually--hidden Facebook
            li.footer__social-item
              a.social-button.social-button--twitter(href="#", title="Twitter")
                span.social-button__icon
                  span.icon.icon--twitter
                span.social-button__text.visually--hidden Twitter
            li.footer__social-item
              a.social-button.social-button--vkontakte(href="#", title="Вконтакте")
                span.social-button__icon
                  span.icon.icon--vkontakte
                span.social-button__text.visually--hidden Вконтакте
            li.footer__social-item
              a.social-button.social-button--instagram(href="#", title="Instagram")
                span.social-button__icon
                  span.icon.icon--instagram
                span.social-button__text.visually--hidden Instagram
    .footer__row
      .footer__column.footer__column--large
        nav.footer__nav
          a.footer__nav-item(href="#", title="Адреса") Адреса
          a.footer__nav-item(href="#", title="Блог") Блог
          a.footer__nav-item(href="#", title="О нас") О нас
          a.footer__nav-item(href="#", title="Кофе в офис") Кофе в офис
          a.footer__nav-item(href="#", title="Подписка на кофе") Подписка на кофе
      .footer__column.footer__column--small
        p.footer__copyright &copy; LES 2016