block head
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title

    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')

    link(rel='Shortcut Icon', type='image/x-icon', href='favicon.ico')

    //- Styles
    // inject:css
    // endinject
    //- end Styles