.hero
  .hero__cover(style="background-image: url(assets/covers/about.png);")
  .hero__content
    .hero__container.container
      h1.hero__title.title.title--h1 О&nbsp;нас
      p.hero__text ЛЕС безкомпромисен, когда дело касается качества кофе.<br /> Мы&nbsp;делаем кофе быстро, качественно и&nbsp;незабываемо вкусно.