.hero
  .hero__cover(style="background-image: url(assets/covers/blog.png);")
  .hero__content
    .hero__container.container
      h1.hero__title.title.title--h1 Аэропресс: походная кофеварка ровно на&nbsp;одну чашку