.hero.hero--main.hero--great
  .hero__slider.hero__slider--underlay(data-hero-slider="")
    .hero__slider-slide
      .hero__cover(style="background-image: url(assets/covers/main.jpg);")
    .hero__slider-slide
      .hero__cover(style="background-image: url(assets/covers/main.jpg);")
  .hero__content
    .hero__container.container
      h1.hero__title.title.title--h1 Простота. Качество. Локальность.
      p.hero__text Кофейни, где главное это кофе.