.hero
  .hero__content
    .hero__container.container
      h1.hero__title.title.title--h1
        a(href="tel:+79261775113") +7 926 177-51-13
      p.hero__text По&nbsp;номеру можете легко забронировать столик<br /> или задать любой вопрос