.hero
  .hero__cover(style="background-image: url(assets/covers/office.png);")
  .hero__content
    .hero__container.container
      h1.hero__title.title.title--h1 Кофе в&nbsp;офис
      p.hero__text Натуральный кофе делает клиентов добрее, а&nbsp;сотрудников&nbsp;&mdash; продуктивнее.<br /> Мы&nbsp;организовываем бесперебойную ежемесячную поставку любимого кофе.