.hero
  .hero__cover(style="background-image: url(assets/covers/subscription.png);")
  .hero__content
    .hero__container.container
      h1.hero__title.title.title--h1 Подписка на&nbsp;кофе
      p.hero__text Бережно доставляем домой или в&nbsp;офис.<br />  Десятки пунков самовывоза.