.press
  .press__title.title.title--h1 СМИ о&nbsp;нас
  .press__list
    .press__item.press__item--village
      a.press__link(href="#", title="The Village")
        .press__logo
          img.press__logo-img(src="assets/press/village.png", alt="The Village")
        p.press__quote По&nbsp;выходным в&nbsp;кафе играют диджеи, но&nbsp;шумных вечеринок проводить не&nbsp;планируют.
    .press__item.press__item--furfur
      a.press__link(href="#", title="FURFUR")
        .press__logo
          img.press__logo-img(src="assets/press/furfur.png", alt="FURFUR")
        p.press__quote В&nbsp;кафе зеленые кофейные зерна обжаривают прямо на&nbsp;месте, а&nbsp;для приготовления используют только моносорта
    .press__item.press__item--wonder
      a.press__link(href="#", title="Wonderzine")
        .press__logo
          img.press__logo-img(src="assets/press/wonder.png", alt="Wonderzine")
        p.press__quote Место, в&nbsp;которое хочется приходить каждый день.