.promo-service.promo-service--subscription
  h2.promo-service__title.title.title--h1 Подписка на&nbsp;кофе
  p.promo-service__text Бережно привозим свежий кофе вам домой каждый месяц
  a.promo-service__button.button(href="#") Узнать подробнее
  ul.promo-service__features
    li.promo-service__feature
      .promo-service__feature-icon
        span.icon.icon--coffee
      p.promo-service__feature-text 6&nbsp;наших лучших сортов<br /> кофе на&nbsp;выбор
    li.promo-service__feature
      .promo-service__feature-icon
        span.icon.icon--clock
      p.promo-service__feature-text Различное время<br /> действия подписки
    li.promo-service__feature
      .promo-service__feature-icon
        span.icon.icon--moped
      p.promo-service__feature-text Доставка на&nbsp;дом или <br /> в&nbsp;удобный вам пункт выдачи