.button {
  width: auto;
  margin: 0;
  padding: 0;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0;
  background: none;
  box-sizing: border-box;
  appearance: none;
  font-family: $font-family-proximanova-extracond;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  @include button-size($button-height-breakpoint-xs, $button-padding-horizontal-breakpoint-xs, $button-font-size-breakpoint-xs);

  .__no-touch & {
    transition: background-color .2s ease, border-color .2s ease, color .2s ease;
  }

  &.__disabled {
    cursor: default;
  }

  &.button--outline {
    background: transparent;
  }
}

a.button {
  text-decoration: none !important;
}

.button--block {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

// Styles
.button--dark {
  @include button-style($color-dark, $color-white);

  &.button--outline {
    @include button-outline(rgba($color-dark, .5), $color-dark, $color-dark, $color-white);
  }
}

.button--white {
  @include button-style($color-white, $color-base);

  &:hover {
    background-color: darken($color-white, 6%);
  }

  &.button--outline {
    @include button-outline(rgba($color-white, .5), $color-white, transparent, $color-base);
  }
}


// Media Queries
@include breakpoint-up($breakpoint-sm) {
  .button {
    @include button-size($button-height-breakpoint-sm, $button-padding-horizontal-breakpoint-sm, $button-font-size-breakpoint-sm);
  }
}