.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba($color-pine, .9);
  z-index: 5000;
}

.modal__layout {
  width: 100%;
  height: 100%;
  display: table;
}

.modal__container {
  display: table-cell;
  vertical-align: middle;
}

.modal__dialog {

}