mixin post-teasers(title)
  .post-teasers
    h2.post-teasers__title.title.title--h1= title
    .post-teasers__content
      .slider.slider--posts(data-slider="posts")
        .slider__viewer
          article.post-teaser
            a.post-teaser__link(href="#", title="Аэропресс - Походная кофеварка ровно на одну чашку")
              .post-teaser__inner
                .post-teaser__image(style="background-image: url(assets/post-teasers/400x266/1.png);")
                time.post-teaser__date.date 28 марта
                h3.post-teaser__title Аэропресс
                p.post-teaser__text Походная кофеварка ровно на&nbsp;одну чашку
          article.post-teaser
            a.post-teaser__link(href="#", title="Кемекс: о синергии химии, дизайна и хорошей идеи - Что такое формула успеха нового продукта по Шлюмбому?")
              .post-teaser__inner
                .post-teaser__image(style="background-image: url(assets/post-teasers/400x266/2.png);")
                time.post-teaser__date.date 2 апреля
                h3.post-teaser__title Кемекс: о синергии химии, дизайна и хорошей идеи
                p.post-teaser__text Что такое формула успеха нового продукта по&nbsp;Шлюмбому?
          article.post-teaser
            a.post-teaser__link(href="#", title="Rodchenko Art School")
              .post-teaser__inner
                .post-teaser__image(style="background-image: url(assets/post-teasers/400x266/3.png);")
                time.post-teaser__date.date 28 марта
                h3.post-teaser__title Rodchenko Art School
                p.post-teaser__text В&nbsp;этот четверг продолжение цикла лекций Rodchenko Art School, Moscow в&nbsp;ЛЕС на Крымской набережной.
          article.post-teaser
            a.post-teaser__link(href="#", title="Аэропресс - Походная кофеварка ровно на одну чашку")
              .post-teaser__inner
                .post-teaser__image(style="background-image: url(assets/post-teasers/400x266/1.png);")
                time.post-teaser__date.date 28 марта
                h3.post-teaser__title Аэропресс
                p.post-teaser__text Походная кофеварка ровно на&nbsp;одну чашку
          article.post-teaser
            a.post-teaser__link(href="#", title="Кемекс: о синергии химии, дизайна и хорошей идеи - Что такое формула успеха нового продукта по Шлюмбому?")
              .post-teaser__inner
                .post-teaser__image(style="background-image: url(assets/post-teasers/400x266/2.png);")
                time.post-teaser__date.date 2 апреля
                h3.post-teaser__title Кемекс: о синергии химии, дизайна и хорошей идеи
                p.post-teaser__text Что такое формула успеха нового продукта по&nbsp;Шлюмбому?
          article.post-teaser
            a.post-teaser__link(href="#", title="Rodchenko Art School")
              .post-teaser__inner
                .post-teaser__image(style="background-image: url(assets/post-teasers/400x266/3.png);")
                time.post-teaser__date.date 28 марта
                h3.post-teaser__title Rodchenko Art School
                p.post-teaser__text В&nbsp;этот четверг продолжение цикла лекций Rodchenko Art School, Moscow в&nbsp;ЛЕС на Крымской набережной.
          article.post-teaser
            a.post-teaser__link(href="#", title="Rodchenko Art School")
              .post-teaser__inner
                .post-teaser__image(style="background-image: url(assets/post-teasers/400x266/3.png);")
                time.post-teaser__date.date 28 марта
                h3.post-teaser__title Rodchenko Art School
                p.post-teaser__text В&nbsp;этот четверг продолжение цикла лекций Rodchenko Art School, Moscow в&nbsp;ЛЕС на Крымской набережной.