@font-face {
  font-family: "les-icons";
  src: url('../fonts/les-icons.woff') format('woff'),
       url('../fonts/les-icons.ttf') format('truetype'),
       url('../fonts/les-icons.svg#les-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  display: inline-block;
  font-family: "les-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
}


$icon-arrow-circle-left-bold: "\EA01";
%icon-arrow-circle-left-bold { content: $icon-arrow-circle-left-bold }
.icon--arrow-circle-left-bold:before { @extend %icon-arrow-circle-left-bold; }

$icon-arrow-circle-left: "\EA02";
%icon-arrow-circle-left { content: $icon-arrow-circle-left }
.icon--arrow-circle-left:before { @extend %icon-arrow-circle-left; }

$icon-arrow-circle-right-bold: "\EA03";
%icon-arrow-circle-right-bold { content: $icon-arrow-circle-right-bold }
.icon--arrow-circle-right-bold:before { @extend %icon-arrow-circle-right-bold; }

$icon-arrow-circle-right: "\EA04";
%icon-arrow-circle-right { content: $icon-arrow-circle-right }
.icon--arrow-circle-right:before { @extend %icon-arrow-circle-right; }

$icon-arrow-right: "\EA05";
%icon-arrow-right { content: $icon-arrow-right }
.icon--arrow-right:before { @extend %icon-arrow-right; }

$icon-arrow-up: "\EA06";
%icon-arrow-up { content: $icon-arrow-up }
.icon--arrow-up:before { @extend %icon-arrow-up; }

$icon-basket: "\EA07";
%icon-basket { content: $icon-basket }
.icon--basket:before { @extend %icon-basket; }

$icon-clock: "\EA08";
%icon-clock { content: $icon-clock }
.icon--clock:before { @extend %icon-clock; }

$icon-clock2: "\EA09";
%icon-clock2 { content: $icon-clock2 }
.icon--clock2:before { @extend %icon-clock2; }

$icon-coffee: "\EA0A";
%icon-coffee { content: $icon-coffee }
.icon--coffee:before { @extend %icon-coffee; }

$icon-cross: "\EA0B";
%icon-cross { content: $icon-cross }
.icon--cross:before { @extend %icon-cross; }

$icon-facebook: "\EA0C";
%icon-facebook { content: $icon-facebook }
.icon--facebook:before { @extend %icon-facebook; }

$icon-fir: "\EA0D";
%icon-fir { content: $icon-fir }
.icon--fir:before { @extend %icon-fir; }

$icon-globe: "\EA0E";
%icon-globe { content: $icon-globe }
.icon--globe:before { @extend %icon-globe; }

$icon-instagram: "\EA0F";
%icon-instagram { content: $icon-instagram }
.icon--instagram:before { @extend %icon-instagram; }

$icon-moped: "\EA10";
%icon-moped { content: $icon-moped }
.icon--moped:before { @extend %icon-moped; }

$icon-tick: "\EA11";
%icon-tick { content: $icon-tick }
.icon--tick:before { @extend %icon-tick; }

$icon-twitter: "\EA12";
%icon-twitter { content: $icon-twitter }
.icon--twitter:before { @extend %icon-twitter; }

$icon-vkontakte: "\EA13";
%icon-vkontakte { content: $icon-vkontakte }
.icon--vkontakte:before { @extend %icon-vkontakte; }

$icon-weight: "\EA14";
%icon-weight { content: $icon-weight }
.icon--weight:before { @extend %icon-weight; }