* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: rem(320px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: rem(1300px + $grid-gutter-width * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: rem($grid-gutter-width);
  padding-left: rem($grid-gutter-width);
}

.container--fluid {
  max-width: none;
}