extend ./layout.pug
include ./mixins/header.pug

block header
  +header('about')

block content-header
  include ./shared/hero_about.pug
block content-body
  .static-layout
    .static-layout__column.static-layout__column--content
      .static-content
        h2 Мы&nbsp;открыли первую кофейню LES  в&nbsp;октябре 2012 года
        p Это было началом увлекательного путешествия в&nbsp;мир спешиалити кофе, поиском своего стиля и&nbsp;общением с&nbsp;огромным количеством гостей, которые вместе с&nbsp;нами выводили культуру кофе на&nbsp;тот уровень, на&nbsp;котором она находится сейчас.
        p За&nbsp;это время был пройден огромный путь от&nbsp;идеи создания городской кофейни современного уровня, со&nbsp;своей обжаркой кофейных зерен, до&nbsp;небольшой сети, которая сумела сохранить не&nbsp;только свой имидж, принципы работы и&nbsp;отношение к&nbsp;продукту, но&nbsp;и&nbsp;свой узнаваемый образ для всех, кто влюблен в&nbsp;кофе.
        p.lead Мы&nbsp;команда LES. Мы&nbsp;работаем с&nbsp;кофе от&nbsp;зеленого зерна и&nbsp;до&nbsp;чашки и&nbsp;это позволяет нам выработать неповторимый вкус и&nbsp;стиль, который так любят наши гости.
        .slider.slider--single(data-slider="single")
          .slider__viewer
            .slider__slide
              img(src="assets/static-content/3.png", alt="")
            .slider__slide
              img(src="assets/static-content/3.png", alt="")
            .slider__slide
              img(src="assets/static-content/3.png", alt="")
            .slider__slide
              img(src="assets/static-content/3.png", alt="")
            .slider__slide
              img(src="assets/static-content/3.png", alt="")
            .slider__slide
              img(src="assets/static-content/3.png", alt="")
        p Мы&nbsp;сами находим и&nbsp;обжариваем кофе, передаем гостям трепет, с&nbsp;которым мы&nbsp;относимся к&nbsp;нашему кофе. Хороший кофе&nbsp;&mdash; это здоровый, в&nbsp;хорошем смысле модный и&nbsp;востребованный продукт. Доступность&nbsp;&mdash; это не&nbsp;обязательно цена, это в&nbsp;первую очередь удобство. Мы&nbsp;рассчитываем наши проекты так, чтобы гость получил чашку кофе лучшего качества за&nbsp;минимально возможное время. Наше меню радикально просто и&nbsp;с&nbsp;ним очень просто выбрать.
        p.lead ЛЕС безкомпромисен, когда дело касается качества кофе.<br /> Мы&nbsp;делаем кофе быстро, качественно и&nbsp;незабываемо вкусно.
  include ./shared/press.pug