doctype html
<html class="__no-js">
include ./shared/head.pug

body

  .error-layout
    .error-layout__icons(data-icon-mix="error-layout")
    .error-layout__container
      .error-layout__content
        .error-layout__number 404
        .error-layout__text Что-то пошло не&nbsp;так, <br /> попробуйте начать<br /> <a href="#", title="Попробовать сначала"><span>сначала<span/></a>

  //- Scripts
  // inject:js
  // endinject
  //- end Scripts
</html>