doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  title Список страниц
  style.
    body {
      margin: 1em;
    }

    ul {
      margin: 1em 0;
      padding: 0;
      font-size: 15px;
      line-height: 24px;
      font-family: Arial;
      list-style-type: none;
    }

    ul li {
      margin: .5em 0;
    }

    ul a {
      border-bottom: 1px solid #93AFDD;
      color: #4983E2;
      text-decoration: none;
    }
body
  ul
    li
      a(href="home.html") 1. Главная страница
    li
      a(href="address.html") 2. Адреса
    li
      a(href="post.html") 3. Блог
    li
      a(href="about.html") 4. О нас
    li
      a(href="office.html") 5. Кофе в офис
    li
      a(href="subscription.html") 6. Подписка на кофе
    li
      a(href="error404.html") 7. 404
</html>