extend ./layout.pug
include ./mixins/header.pug
include ./mixins/social-share.pug
include ./mixins/post-teasers.pug

block header
  +header('subscription')

block content-header
  include ./shared/hero_subscription.pug
block content-body
  .product-subscriptions
    h2.product-subscriptions__title.title.title--h2 Выберите сорт кофе, вес и&nbsp;срок подписки
    .product-subscriptions__list
      .product-subscriptions__item
        .product-subscription
          .product-subscription__image
            img.product-subscription__image-img(src="assets/products/packet-coffee-1.png", alt="")
          .product-subscription__content
            .product-subscription__globe
              span.icon.icon--globe
            h3.product-subscription__title.title.title--h2 Южная Америка
            ul.product-subscription__options
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Brazil Santos", checked="")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Бразилия <span>Сантос</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Colombia Flat")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Колумбия <span>Флэт</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Brazil Santos")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Бразилия <span>Сантос</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Colombia Flat")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Колумбия <span>Флэт</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Brazil Santos")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Бразилия <span>Сантос</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
            .product-subscription__weight.product-weight-slider
              div(data-product-weight-slider="", data-values="[500, 1000, 1500]", data-start="1000", data-prefix="Гр")
            .product-subscription__periods
              label.product-subscription__period
                input.product-subscription__period-control(type="radio", name="product-subscription-periods", value="single")
                span.product-subscription__period-content
                  span.product-subscription__period-icon
                    span.icon.icon--basket
                  span.product-subscription__period-title Разовая
                  span.product-subscription__period-price 1 150 Р
              label.product-subscription__period
                input.product-subscription__period-control(type="radio", name="product-subscription-periods", value="3-months")
                span.product-subscription__period-content
                  span.product-subscription__period-icon
                    span.icon.icon--basket
                  span.product-subscription__period-title 3 месяца
                  span.product-subscription__period-price 6 150 Р
              label.product-subscription__period
                input.product-subscription__period-control(type="radio", name="product-subscription-periods", value="6-months")
                span.product-subscription__period-content
                  span.product-subscription__period-icon
                    span.icon.icon--basket
                  span.product-subscription__period-title 6 месяцев
                  span.product-subscription__period-price 11 150 Р
      .product-subscriptions__item
        .product-subscription
          .product-subscription__image
            img.product-subscription__image-img(src="assets/products/packet-coffee-1.png", alt="")
          .product-subscription__content
            .product-subscription__globe
              span.icon.icon--globe
            h3.product-subscription__title.title.title--h2 Европа
            ul.product-subscription__options
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Brazil Santos", checked="")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Испания <span>Сантос</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Colombia Flat")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Италия <span>Флэт</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Brazil Santos")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Англия <span>Сантос</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Colombia Flat")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Колумбия <span>Флэт</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Brazil Santos")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Бразилия <span>Сантос</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
            .product-subscription__weight.product-weight-slider
              div(data-product-weight-slider="", data-values="[500, 1000, 1500]", data-start="1000", data-prefix="Гр")
            .product-subscription__periods
              label.product-subscription__period
                input.product-subscription__period-control(type="radio", name="product-subscription-periods", value="single")
                span.product-subscription__period-content
                  span.product-subscription__period-icon
                    span.icon.icon--basket
                  span.product-subscription__period-title Разовая
                  span.product-subscription__period-price 1 150 Р
              label.product-subscription__period
                input.product-subscription__period-control(type="radio", name="product-subscription-periods", value="3-months")
                span.product-subscription__period-content
                  span.product-subscription__period-icon
                    span.icon.icon--basket
                  span.product-subscription__period-title 3 месяца
                  span.product-subscription__period-price 6 150 Р
              label.product-subscription__period
                input.product-subscription__period-control(type="radio", name="product-subscription-periods", value="6-months")
                span.product-subscription__period-content
                  span.product-subscription__period-icon
                    span.icon.icon--basket
                  span.product-subscription__period-title 6 месяцев
                  span.product-subscription__period-price 11 150 Р
      .product-subscriptions__item
        .product-subscription
          .product-subscription__image
            img.product-subscription__image-img(src="assets/products/packet-coffee-1.png", alt="")
          .product-subscription__content
            .product-subscription__globe
              span.icon.icon--globe
            h3.product-subscription__title.title.title--h2 Австралия
            ul.product-subscription__options
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Brazil Santos", checked="")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Бразилия <span>Сантос</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Colombia Flat")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Колумбия <span>Флэт</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
              li.product-subscription__options-item
                label.product-subscription__option
                  input.product-subscription__option-control(type="radio", name="product-subscription-options", value="Brazil Santos")
                  span.product-subscription__option-icon
                  span.product-subscription__option-text Бразилия <span>Сантос</span>
                  span.product-subscription__help.product-tipsy(data-product-tipsy)
                    span.product-tipsy__toggle(data-product-tipsy-toggle) ?
                    .product-tipsy__popup(data-product-tipsy-popup)
                      .product-tipsy__popup-arrow(data-product-tipsy-popup-arrow)
                      .product-tipsy__popup-inner
                        p.product-tipsy__text Ноты черной смородины и шиповника. Приятное шоколадное послевкусие.
                        ul.product-tipsy__list
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/express.svg", width="80", alt="Express")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Express
                          li.product-tipsy__item
                            .product-tipsy__table
                              .product-tipsy__table-cell
                                .product-tipsy__icon
                                  img.product-tipsy__icon-img(src="assets/product-features/kemex.svg", alt="Kemex")
                              .product-tipsy__table-cell
                                p.product-tipsy__text Kemex
            .product-subscription__weight.product-weight-slider
              div(data-product-weight-slider="", data-values="[500, 1000, 1500]", data-start="1000", data-prefix="Гр")
            .product-subscription__periods
              label.product-subscription__period
                input.product-subscription__period-control(type="radio", name="product-subscription-periods", value="single")
                span.product-subscription__period-content
                  span.product-subscription__period-icon
                    span.icon.icon--basket
                  span.product-subscription__period-title Разовая
                  span.product-subscription__period-price 1 150 Р
              label.product-subscription__period
                input.product-subscription__period-control(type="radio", name="product-subscription-periods", value="3-months")
                span.product-subscription__period-content
                  span.product-subscription__period-icon
                    span.icon.icon--basket
                  span.product-subscription__period-title 3 месяца
                  span.product-subscription__period-price 6 150 Р
              label.product-subscription__period
                input.product-subscription__period-control(type="radio", name="product-subscription-periods", value="6-months")
                span.product-subscription__period-content
                  span.product-subscription__period-icon
                    span.icon.icon--basket
                  span.product-subscription__period-title 6 месяцев
                  span.product-subscription__period-price 11 150 Р

block modals
  //- .modal
  //-   .modal__layout
  //-     .modal__container
  //-       .modal__dialog
  //-         .modal__close
  //-         .modal__body
  //-           .order-form
  //-             .order-form__title.title.title--h2 Оформление подписки
  //-             .order-form__group
  //-               .order-list
  //-                 .order-list__title Состав заказа
  //-                 .order-list__item
  //-                   .order-list__item-title Бразилия Сантос
  //-                   ul.order-list__item-options
  //-                     li.order-list__item-option 1000 гр
  //-                     li.order-list__item-option 6 месяцев
  //-                 ul.order-list__total
  //-                   ul.order-list__total-text Итого
  //-                   ul.order-list__total-sum 1 399 Р
  //-             .order-form__group
  //-               .order-form__title.title.title--h2 Выберите способ получения
  //-               .order-form__switchers
  //-                 label.order-form__switcher
  //-                   input.order-form__switcher-control(type="radio", name="delivery")
  //-                   .order-form__switcher-title Самовывоз
  //-                   .order-form__switcher-subtitle На следующий день
  //-                 label.order-form__switcher
  //-                   input.order-form__switcher-control(type="radio", name="delivery")
  //-                   .order-form__switcher-title Пункт выдачи
  //-                   .order-form__switcher-subtitle 1 день
  //-                 label.order-form__switcher
  //-                   input.order-form__switcher-control(type="radio", name="delivery")
  //-                   .order-form__switcher-title Доставка курьером
  //-                   .order-form__switcher-subtitle 1 день + 300 Р
  //-               .order-form__item
  //-                 label.input(data-input="")
  //-                   span.input__label(data-input-label="") Как вас зовут?
  //-                   input.input__control(data-input-control="", type="text")
  //-               .order-form__item
  //-                 .select
  //-                   select.select__control
  //-                     option Откуда вам удобнее забрать?
  //-               .order-form__item
  //-                 label.input
  //-                   span.input__label Телефон для уточнения деталей
  //-                   input.input__control(type="text")
  //-               .order-form__item
  //-                 label.input
  //-                   span.input__label Email для уведомления о статусе подписки
  //-                   input.input__control(type="text")
  //-               .order-form__item
  //-                 label.checkbox
  //-                   input.checkbox__control
  //-                   span.checkbox__fake
  //-                   span.checkbox__text Соглашаюсь с <a href="#" title="Условия подписки">условиями подписки</a>
  //-                 button.button.button--gray Перейти к оплате
