extend ./layout.pug
include ./mixins/header.pug
include ./mixins/social-share.pug
include ./mixins/post-teasers.pug

block header
  +header('subscription')

block content-header
  include ./shared/hero_subscription.pug
block content-body
  include ./shared/product-subscriptions.pug